@model TestViewModel
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>
<div>String Value = @Model.StringValue</div>
<div>Bool Value = @Model.BoolValue</div>
<div>Integer Value = @Model.IntegerValue</div>
<div>Double Value = @Model.DoubleValue</div>

